[submodule "src/vasm"]
	path = src/vasm
	url = https://github.com/leffmann/vasm
[submodule "src/vlink"]
	path = src/vlink
	url = https://github.com/leffmann/vlink
[submodule "src/vbcc"]
	path = src/vbcc
	url = https://github.com/leffmann/vbcc
[submodule "src/make"]
	path = src/make
	url = https://github.com/mirror/make
[submodule "src/make381"]
	path = src/make381
	url = https://github.com/mirror/make
